.postContainer {
  position: absolute;
  top: 96px;
  left: 25%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 100%;
  max-width: 972px;
  height: 70%;
  border: 1px solid var(--Dark-100);
  border-radius: 2px;

  background-color: var(--Dark-300);
}
