.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 35px;

  .title {
    margin-bottom: 19px;
  }

  .text {
    margin-bottom: 54px;
  }

  .link {
    margin-bottom: 72px;
    width: 182px;
  }
}
