.back-to-signup {
  display: flex;
  gap: 12px;
  align-items: center;

  width: max-content;

  color: var(--Light-100);

  transition: color 0.3s ease;

  &:hover {
    color: var(--Primary-300);
  }
}
