.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1280px;
  height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 972px;
    margin: 84px 154px 36px;
  }
}
