.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.button {
  width: 20%;
  margin-left: 375px;
}
