.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;

  width: 100%;

  .fullWidth {
    width: 100%;
  }

  .forgot-password-wrapper {
    align-self: flex-end;
    width: 100%;

    .forgot-password {
      margin-top: 12px;
      color: var(--Light-900);
      text-align: end;
    }
  }
}
