.auth-providers {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;

  margin: 13px 0 24px;

  .icon {
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}
