:root {
  --Border-radius-0: 0;
  --Border-radius-2: 2px;
  --Border-radius-4: 4px;
  --Border-radius-6: 6px;
  --Border-radius-8: 8px;
  --Border-radius-10: 10px;
  --Border-radius-12: 12px;
  --Border-radius-14: 14px;
  --Border-radius-16: 16px;
  --Border-radius-20: 20px;
  --Border-radius-24: 24px;
  --Border-radius-32: 32px;
  --Border-radius-36: 36px;
  --Border-radius-64: 64px;
}
