:root {
  --Gap-2: 2px;
  --Gap-4: 4px;
  --Gap-8: 8px;
  --Gap-12: 12px;
  --Gap-14: 14px;
  --Gap-16: 16px;
  --Gap-20: 20px;
  --Gap-24: 24px;
  --Gap-32l: 32px;
  --Gap-40: 40px;
  --Gap-48: 48px;
  --Gap-64: 64px;
  --Gap-72: 72px;
  --Gap-96: 96px;
  --Gap-128: 128px;
  --Gap-2-neg: -2px;
  --Gap-4-neg: -4px;
  --Gap-8-neg: -8px;
  --Gap-12-neg: -12px;
  --Gap-16-neg: -16px;
  --Gap-20-neg: -20px;
  --Gap-24-neg: -24px;
  --Gap-32-neg: -32px;
  --Gap-40-neg: -40px;
  --Gap-48-neg: -48px;
  --Gap-64-neg: -64px;
  --Gap-72-neg: -72px;
  --Gap-96-neg: -96px;
  --Gap-128-neg: -128px;
}
