.opacityLayout {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  opacity: 0.8;
  background-color: var(--Dark-900);
}

.closeButton {
  cursor: pointer;

  position: absolute;
  top: 60px;
  right: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
}

.postContainer {
  position: absolute;
  top: 96px;
  right: 64px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 100%;
  max-width: 80%;
  height: 70%;
  border: 1px solid var(--Dark-100);
  border-radius: 2px;

  background-color: var(--Dark-300);
}

.commentsContainer {
  display: flex;
  flex-direction: column;
}

.commetsHeader {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid var(--Dark-100);
}

.profilePhoto {
  width: 35px;
  height: 36px;
  margin-right: 12px;
  border-radius: 50%;

  object-fit: cover;
}

.moreDots {
  cursor: pointer;

  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  margin-left: auto;

  span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--Light-100);
  }

  &:hover {
    span {
      background-color: var(--Primary-500);
    }
  }
}



.commentsBody {
overflow-y: auto;
  display: flex;
  flex-direction: column;
   flex-grow: 1;
  gap: 15px;

  padding: 20px 24px 8px;
  border-bottom: 1px solid var(--Dark-100);
}


.commentsFooter {
  display: flex;
  flex-direction: column;
 
}

.commentsInfo {
  padding: 12px 24px 8px;
  border-bottom: 1px solid var(--Dark-100);

}

.commentsAddComment {
 display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;

  padding: 12px 24px;
}

.commentsActions {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 20px;

      button {
        &:last-child {
          margin-left: auto;
        }
      }
}

.commentsLikes {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 5px;
}

.likeOwnerPhotos {
display: flex;
align-items: center;
}

.likeOwnerPhoto {
  position: relative;
  z-index: 1;

  width: 24px;
  height: 24px;
  margin-left: -9px; /* Половина ширины, чтобы частично скрыть */
  border-radius: 50%;

  object-fit: cover;

  &:first-child {
   margin-left: 0;
  }
  &:nth-child(1) { z-index: 3; }
&:nth-child(2) { z-index: 2; }
&:nth-child(3) { z-index: 1; }
}

.commentsDate {
  color: var(--Light-900)
}



.addCommentInput {
  width: 100%;

  input {
    padding-left: 0;
    border: none;
    background-color: transparent;
  }
}
