.form {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--Gap-12);

  & > *:nth-child(-n + 3) {
    margin-bottom: var(--Gap-24);
  }

  & > *:nth-child(4),
  & > *:nth-child(5) {
    margin-bottom: var(--Gap-12);
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  .error {
    color: var(--Danger-500);
  }

  .link {
    color: var(--Primary-300);
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
